body, html {
  width: 100%;
  min-height: 100vh; /* 화면 전체 높이를 보장 */
  overflow-x: hidden; /* 수평 스크롤 제거 */
}


.main-bg {
  width: 100%; /* 가로 크기를 페이지 전체로 설정 */
  height: 100vh; /* 화면 높이에 맞춤 */
  background-image: url("/assets/home.png");
  background-size: cover;
  background-position: center;
}
