.room-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 전체 높이 */
  background-color: #a9bfc7; /* 배경색 */
}

.room-page {
  width: 100%; /* 화면 너비에 맞게 설정 */
  max-width: 1400px; /* 최대 너비 제한 */
  aspect-ratio: 16 / 9; /* TV 화면 비율 유지 (16:9) */
  background-color: #d9d9d9; /* 배경색 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  margin: 50px auto; /* 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 내용이 영역 밖으로 나가지 않도록 */
}

.room-list {
  width: 90%; /* TV 화면 내 여백 확보 */
  max-width: 1100px; /* 최대 너비 설정 */
  height: auto; /* 높이 유동적 */
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 20px; /* 카드 간 간격 */
  justify-content: flex-start; /* 위쪽부터 정렬 */
  align-items: center; /* 가운데 정렬 */
  background-color: #ffffff; /* 배경색 */
  padding: 50px;
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1); /* 내부 그림자 추가 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  overflow-x: hidden; /* 가로 스크롤 제거 */
}


.room-creater-go {
  cursor: pointer;
}

/* 반응형 디자인 */
@media (max-width: 800px) {
  .room-page {
    width: 100%; /* 작은 화면에서도 너비를 채움 */
  }

  .room-card {
    aspect-ratio: 5 / 1; /* 모바일 환경에서 조금 더 좁은 비율 */
  }
}

@media (max-width: 600px) {
  .room-card {
    width: 100%; /* 모바일 화면에서는 가로를 꽉 채움 */
    padding: 10px; /* 내부 여백 축소 */
    aspect-ratio: 6 / 1; /* 모바일 환경에서 더 좁은 비율 */
  }
}
