.audio-player {
  position: fixed; /* 화면 고정 */
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.audio-control-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 */
  border: 2px solid #ffffff; /* 윤곽선 추가 */
  border-radius: 50%; /* 원형 버튼 */
  cursor: pointer;
  transition: all 0.3s ease;
}

.audio-control-button:hover {
  background-color: rgba(255, 255, 255, 0.3); /* hover 상태 */
}

.audio-control-button.playing {
  background-color: rgba(0, 128, 0, 0.7); /* Play 상태 - 녹색 */
}

.audio-control-button.paused {
  background-color: rgba(128, 0, 0, 0.7); /* Pause 상태 - 빨간색 */
}
