.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체를 덮음 */
  background-color: rgba(255, 255, 255, 0.8); /* 살짝 투명한 배경 */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* 회색 바탕 */
  border-top: 5px solid #3498db; /* 파란색 회전 부분 */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
