.chat-container {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 하단에 배치 */
  left: 0; /* 좌측 정렬 */
  width: 100%; /* 화면 전체 너비 사용 */
  height: 360px; /* 고정된 높이 설정 */
  background-color: #f5f5f5; /* 배경색 */
  border-top: 1px solid #d9d9d9; /* 상단 구분선 */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* 스크롤 활성화 */
}

.chat-messages {
  overflow-y: auto; /* 세로 스크롤 활성화 */
  padding: 10px;
  border-bottom: 1px solid #d9d9d9; /* 메시지와 입력창 구분 */
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /* bottom: 0px; */
  background-color: #f8f9fa; /* 입력창 배경색 */
  border-top: 1px solid #d9d9d9; /* 상단 구분선 */
}


.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.chat-input button {
  padding: 10px 20px;
  background-color: #4caf50; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #45a049; /* 호버 효과 */
}

.chat-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-input button.disabled:hover {
  background-color: #ccc; /* 호버 효과 제거 */
}

/* 화면 크기가 768px 이하일 때 적용 */
@media (max-width: 768px) {
  .chat-container {
    flex: 4; /* 6:4 비율 중 4 */
    width: 100%; /* 화면 너비를 모두 차지 */
    bottom: 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #d9d9d9; /* room-page와 구분선 */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 스크롤 활성화 */
  }

  .chat-messages {
    flex: 1;
    overflow-y: auto; /* 스크롤 가능 */
    padding: 10px;
    border-bottom: 1px solid #d9d9d9; /* 메시지와 입력창 구분 */
  }

  .chat-input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f8f9fa; /* 입력창 배경색 */
    border-top: 1px solid #d9d9d9; /* 상단 구분선 */
  }

  .chat-input input {
    flex: 1;
    padding: 8px; /* 입력 필드 크기 조정 */
    font-size: 0.9rem; /* 텍스트 크기 조정 */
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .chat-input button {
    padding: 8px 12px; /* 버튼 크기 조정 */
    font-size: 0.9rem; /* 텍스트 크기 조정 */
    border-radius: 4px;
    background-color: #4caf50; /* 버튼 색상 */
    color: white;
    border: none;
    cursor: pointer;
  }

  .chat-input button:hover {
    background-color: #45a049; /* 호버 효과 */
  }

  .chat-input button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  
}
