/*4c8bf5 - 기본 버튼 색상*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* 기본 폰트 설정 - 사용자 OS 및 웹폰트를 고려한 우선순위 */
  line-height: 1.5; /* 텍스트 줄 간격 */
  font-weight: 400; /* 일반 텍스트에 사용되는 기본 두께 설정 */
  color: #213547; /* 텍스트 색상 */
  font-synthesis: none; /* 자동 글꼴 스타일링 비활성화 (기울임꼴, 굵은 글꼴 등) */
  text-rendering: optimizeLegibility; /* 텍스트 가독성을 최적화하도록 브라우저에 요청 */
  -webkit-font-smoothing: antialiased; /* 웹킷 브라우저의 글꼴 렌더링 부드럽게 처리 */
  -moz-osx-font-smoothing: grayscale; /* macOS 브라우저에서 글꼴 렌더링 최적화 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  overflow-y: auto;
  background-color: #b3daec; /* 배경색 */
}

main::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

@media (max-width: 600px) {
  .app {
    padding: 0 10px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;



